.light-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    &__item{
        min-width: 80%;
        min-height: 70px;
        max-width: 350px;
        max-height: 350px;
        flex: 1;
        border-radius: 25px;
        margin: 20px;
    }
    &__red_active{
        background: rgba(230, 18, 18, 1);
    }
    &__red_unactive{
        background: rgba(230, 18, 18, 0.4);
    }
    &__yellow_active{
        background: rgba(245, 241, 15, 1);
    }
    &__yellow_unactive{
        background: rgba(245, 241, 15, 0.4);
    }
    &__green_active{
        background: rgba(145, 143, 12, 1);
    }
    &__green_unactive{
        background: rgba(145, 143, 12, 0.4);
    }
}